/* ini css */

body{
    padding: 0;
    margin: 0px;
    font-family: oswald, arial;
}
.container{
    font-family: oswald, arial;
    margin: 0px;
}
.logo{
    color: rgb(53, 70, 107);
    padding-left: 20px;
    padding-top: 5px;
    font-size: 16px;
    
}
.header{
    background-image: url('cleanSpce.jpg');
    background-size: cover; 
    background-position: 0 -1030px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
nav {
    text-align: center;  
}
nav li  {
    list-style-type: none;
    padding-right: 20px;
    padding-bottom: 3px;
    font-size: 18px; 
    display: inline-block;   
    font-weight: bold;
   
}
nav a{
    text-decoration: none;
    color: rgb(9, 10, 80);
    padding: 2px;  
}
nav a:hover{
    border-bottom: 2px solid;
}
.home-content{
    height: 200px;
    background-image: url('cleanSpce.jpg');
    background-size: cover; 
    background-position: 0 -1155px;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 30px;
    text-align: center;
    justify-content: center;
}
.home-content h1{
    font-size: 30px;
    font-weight: bold;
}
.home-content p{
    text-align: center;
    justify-content: center;
}
.about{
    margin: 0;
    line-height: 25px;
    text-align: center;
    background-color: rgba(119, 117, 117, 0.527);
    height: 300px;
    padding: 5px;
    font-family: oswald, arial;
}
.services{ 
    padding: 5px;
    align-items: center;
    background-color: rgba(119, 117, 117, 0.527);   
}
.services h2{
    padding-top: 1px;
    text-align: center;
}
.services-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    align-items: center;
    background-color: rgba(117, 114, 156, 0.856);
    border-radius: 50px;
    border: 5px solid transparent;
    width: 350px;
    margin-inline-start: 2px;
    height: 400px; 
}
.boxes{
    display: flex;  
    gap: 4em;
}
span{
    font-weight: bold;
    color: rgb(9, 10, 80); 
}
.price{
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid transparent;
}
.price:hover{
    background-color: rgba(50, 56, 114, 0.897);
}
.contact-section{
    margin: 0;
    padding: 5px;
    background-color: rgba(119, 117, 117, 0.527);      
}
.contact-section > h2{
    text-align: center;
}
.contact-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    background-color: rgba(119, 117, 117, 0.527); 
    padding: 50px 0;
}
footer .social-icons{
    text-align: center;
}
footer ul{
    text-align: center;
    font-size: 20px;
}
footer ul li{
    display: inline-block;
    margin-left: 20px;
}
footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
footer .copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

@media(max-width:904px){
    .boxes{
        display: flex;
        flex-direction: column;
    }
    .services-box{
        width: 100vw;
    }

}

@media(min-width: 218px) and (max-width: 530px ){
    nav{
        display: flex;
        flex-direction: column;
    }
    .about{
        overflow: auto;
    }
    .boxes{
        overflow: auto;
        width: fit-content;
    }
    .contact-content{
        display: flex;
        flex-direction: column;
    }
}
@media(min-width: 218px) and (max-width: 400px;){
    nav{
        display: flex;
        flex-direction: column;
    }

}
@media(min-width: 218px) and (max-width: 800px){
    body{
        background-color: rgba(119, 117, 117, 0.527); 
    }
}

