/* ini css */

body{
    padding: 0;
    margin: 20px;
}

.logo{
    color: brown;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > li  {
    list-style-type: none;
    padding: 20px;
    font-size: 20px; 
    
}
nav > li > a{
    text-decoration: none;
    color: black;
   
}
nav > li > a :hover{
    border-bottom: 3px solid brown;
}
.content{
    border: 3px;
}